@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@800&display=swap');

:root {
    --header-font: 'Unbounded', cursive;
    --font: 'Heebo', sans-serif;
    --link-font: 'Source Code Pro', sans-serif;
}

h1.header {
    font-family: var(--header-font);
    text-align: center;
    font-size: 1000%;
    user-select: none;
}

button.select {
    font-family: var(--font);
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

p.smol, p.text {
    text-align: center;
    font-family: var(--font);
}

.homelink {
    text-align: center;
    font-family: var(--font);
}

a.inhomelink {
    text-decoration: none;
    color: #126bd1;
}

#linkbox {
    border-radius: 10px;
    background: rgb(238, 238, 238);
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 5px;
}

#linktext {
    font-family: var(--link-font);
    text-align: center;
    display: inline;
    vertical-align: middle;
}

img.img {
    width: 10%;
    display: inline;
    cursor: pointer;
    margin-left: 5%;
    vertical-align: middle;
}

.err {
    color: red;
    display: none;
    font-family: var(--link-font);
    text-align: center;
}

.download {
    font-family: var(--header-font);
    font-size: 700%;
    text-align: center;
}

.desc {
    font-family: sans-serif;
    text-align: center;
    font-size: 150%;
}

.linkwrap {
    text-align: center;
    font-family: sans-serif;
}

.link {
    color: #126bd1;
    text-decoration: none;
}